{% extends "base.html.twig" %}

{% block title %}Posts{% endblock %}

{% block body %}
<div class="row col-12">
    <div class="col-2">
        <div class="profpic"></div>
        <div class="makepost"><a href="/newpost">Make Post</a></div>
    </div>
    <div class="col-8 row"><h2>Top Posts:</h2>
        
        {% for post in posts %}
            <div class="postblock row col-12">
                <div class="col-2">
                    <div class="profpic"></div>
                </div>
                <div class="post col-10">
                    <h3><a href="/post/{{post.id}}">{{post.title}}</a></h3>
                    <li>{{post.parent.username}}
                    <p class="post-content">{{post.content}}<p>
                    <div class="makecomment"><a href="/makecomment">Comment</a></div>
                </div>
            </div>
        {% endfor %}
        
    </div>
    <div class="col-2"></div>
</div>

{% endblock %}