{% extends "base.html.twig" %}

{% block title %}Form{% endblock %}

{% block body %}
<div class="row col-12">
    <div class="col-3"></div>
    <div class="col-6">
        <h3 style="color:white; margin-top:15%" >New Post</h3>
        {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}
